[package]
name = "mdl_macro"
version = "0.1.0"
edition = "2021"
license = "MIT"

[lib]
proc-macro = true

[dependencies]
quote = "1.0"
serde_with = "3.16.0"
syn = { version = "2.0", features = ["full"] }
